<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>0514網路書局</title>
   <script type="text/javascript"></script>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div id="have" a={{content[0][10]}}></div>
<div class="col-lg-10 col-md-offset-1" style="font-size: 150%;  background-color:#3C3C3C;">
<ul class="nav nav-pills">
        <li class="col-lg-2"style="text-align:center;" ><a href="http://localhost:5000/buy" style="color:#FF5809;">Home</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/chinese" style="color:#FF5809;">中文書</a></li>
        <li class="col-lg-2 "style="text-align:center;"><a href="http://localhost:5000/english" style="color:#FF5809;">英文書</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/kid" style="color:#FF5809;">兒童書</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/magazine" style="color:#FF5809;">雜誌</a></li>
        <li class="col-lg-1"style="text-align:center;"><a href="http://localhost:5000/shopping" style="color:#FF5809;">購物車</a></li>

</ul>
</div>

<div class="col-lg-8 col-md-offset-2" >
<table border='0'>
<tr>
	<td style="width:511px; height:511px" valign="top"align="center"><img src="{{content[0][2]}}" height="511" width="360" class="pimg"></td>
	<td style="width:511px; height:511px" valign="top"align="center">
		<div class="col-lg-10 col-md-offset-1" >
			<h1 style="text-align:left;">{{content[0][4]}}</h1>
		</div>
		<div class="col-lg-10 col-md-offset-1">
                	<h4 style="text-align:left;">{{content[0][5]}}</h4>
                </div>
	        <div class="col-lg-10 col-md-offset-1" style="text-align:left;">
                        <font size="4">作者：{{content[0][6]}}</font>
                </div>
	      
		<div class="col-lg-10 col-md-offset-1" style="text-align:left;">
			<font size="4">出版社：{{content[0][7]}}</font>                        
                </div>
		 <div class="col-lg-10 col-md-offset-1" style="text-align:left;">
                        <font size="4">出版日期：{{content[0][8]}}</font>
                </div>
		<div class="col-lg-10 col-md-offset-1" style="border-top-style:solid;border-width:1px;height:20px;">
                      
                </div>
		 <div class="col-lg-10 col-md-offset-1" style="text-align:left;">
                         <font size="4">數量  </font>

                         <form action="/shopping" method="post">
			 <input type="button"id="sub" disabled="disabled"  onclick="b_sub()" value="-">                         
			 <input id="buy" type="text" name="need"value="0" style="width:50px; text-align:center;">
                         <input type="button" id="add" onclick="b_add()"value="+">
			 <input type="hidden"  name="num" value="{{content[0][0]}}">                                                
                         <input type="hidden"  name="photo" value="{{content[0][2]}}">
                         <input type="hidden"  name="cost" value="{{content[0][9]}}">
			 <input type="hidden"  name="book" value="{{content[0][4]}}"> 
                         <input type="submit" id="shop" value="加到購物車">
			 </form>
			 

                </div> 
		 <div class="col-lg-10 col-md-offset-1" style="text-align:left;">
			 <font size="4" color="red">NT$</font>
			 <font size="8" color="red"><b>{{content[0][9]}}<b/></font>			 
		 </div>


</td>
</tr>
</table>
</div>

<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;width:10px;" src="" />
    </div>
</div>

<script>
function b_add() {
	var have = document.getElementById('have').getAttribute('a');
	var buy=document.getElementById('buy');
	var buyadd=buy.value;
	buyadd++;
        buy.value=buyadd;
	if (buyadd == have){
	        document.getElementById('add').disabled=true;
	}else{
		if(buyadd > 0){	
		document.getElementById('sub').disabled=false;
		}		
	}
}

function b_sub() {
	var have = document.getElementById('have').getAttribute('a');
        var buy=document.getElementById('buy');
        var buyadd=buy.value;
	buyadd--;
	buy.value=buyadd;
	document.getElementById('add').disabled=false;
       	if(buyadd < 2){ 
        	document.getElementById('sub').disabled=true;
       	}   		
	
	
        
}


$(function(){
	var have = document.getElementById('have').getAttribute('a');
	if(have==0){
		document.getElementById('add').disabled=true;
		document.getElementById('shop').disabled=true;
		alert("此書已受空！！！ 補貨中");
	}
});

$(function(){
        $(".pimg").click(function(){
            var _this = $(this);//將當前的pimg元素作為_this傳入函式
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });

    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//獲取當前點選的pimg元素中的src屬性
        $(bigimg).attr("src", src);//設定#bigimg元素的src屬性

            /*獲取當前點選圖片的真實大小，並顯示彈出層及大圖*/
        $("<img/>").attr("src", src).load(function(){
            var windowW = $(window).width();//獲取當前視窗寬度
            var windowH = $(window).height();//獲取當前視窗高度
            var realWidth = this.width;//獲取圖片真實寬度
            var realHeight = this.height;//獲取圖片真實高度
            var imgWidth, imgHeight;
            var scale = 0.8;//縮放尺寸，當圖片真實寬度和高度大於視窗寬度和高度時進行縮放

            if(realHeight>windowH*scale) {//判斷圖片高度
                imgHeight = windowH*scale;//如大於視窗高度，圖片高度進行縮放
                imgWidth = imgHeight/realHeight*realWidth;//等比例縮放寬度
                if(imgWidth>windowW*scale) {//如寬度扔大於視窗寬度
                    imgWidth = windowW*scale;//再對寬度進行縮放
                }
            } else if(realWidth>windowW*scale) {//如圖片高度合適，判斷圖片寬度
                imgWidth = windowW*scale;//如大於視窗寬度，圖片寬度進行縮放
                            imgHeight = imgWidth/realWidth*realHeight;//等比例縮放高度
            } else {//如果圖片真實高度和寬度都符合要求，高寬不變
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
                    $(bigimg).css("width",imgWidth);//以最終的寬度對圖片縮放

            var w = (windowW-imgWidth)/2;//計算圖片與視窗左邊距
            var h = (windowH-imgHeight)/2;//計算圖片與視窗上邊距
            $(innerdiv).css({"top":h, "left":w});//設定#innerdiv的top和left屬性
            $(outerdiv).fadeIn("fast");//淡入顯示#outerdiv及.pimg
        });

        $(outerdiv).click(function(){//再次點選淡出消失彈出層
            $(this).fadeOut("fast");
        });
    }








</script>












</body>




</html>
