<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>0514網路書局</title>
   <script type="text/javascript"></script>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="col-lg-10 col-md-offset-1" style="font-size: 150%;  background-color:#3C3C3C;">
<ul class="nav nav-pills">
        <li class="col-lg-2 col-md-offset-1"style="text-align:center;" ><a href="http://localhost:5000/buy" style="color:#FF5809;">Home</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/chinese" style="color:#FF5809;">中文書</a></li>
        <li class="col-lg-2 "style="text-align:center;"><a href="http://localhost:5000/english" style="color:#FF5809;">英文書</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/kid" style="color:#FF5809;">兒童書</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/magazine" style="color:#FF5809;">雜誌</a></li>

</ul>
</div>

<div id="myCarousel" class="carousel slide col-lg-12 " data-interval="3000" data-ride="carousel" style="background-color:#F0F0F0;height:350px;">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active col-lg-12 col-md-offset-3">
			<img src="https://activity.sanmin.com.tw/promotions/2021/0512summer/910.gif" alt="First slide">
		</div>
		<div class="item col-lg-12 col-md-offset-3">
			<img src="https://activity.sanmin.com.tw/promotions/2021/0421acmebook/910.gif" alt="Second slide">
		</div>
		<div class="item col-lg-12 col-md-offset-3">
			<img src="https://activity.sanmin.com.tw/promotions/2021/0502literature/910.gif" alt="Third slide">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>-->
</div>


<div class="col-lg-12 "style="border-bottom-style:solid;" >
	<div class="col-lg-10 col-md-offset-1">
		<font size=50px>推薦書籍</font>
	</div>
</div>
<div class="col-lg-12" style="height:30px;"></div>
<div class="col-lg-12 "style=" height:200px;" >
<div class="col-lg-10 col-md-offset-1">
	<table border='0'>
		<tr>

		<td style="width:180px;"></td>
                <td align="center" style=" width:180px;"><img src="https://s.eslite.dev/upload/product/m/2682013010009/20210505043643896201.jpg" height="180"></td>

                <td style="width:180px;"></td>
                <td align="center" style=" width:180px;"><img src="https://s.eslite.dev/upload/product/m/2681988228006/20210320073013730403.jpg" height="180"></td>

                <td style="width:180px;"></td>
                <td align="center" style=" width:180px;"><img src="https://s.eslite.dev/upload/product/m/2681988738000/20210310194836843069.jpg" height="180"></td>

                
                <td style="width:180px;"></td>
                <td align="center" style=" width:180px;"><img src="https://s.eslite.dev/upload/product/m/2681988740003/20210310194932392151.jpg" height="180"></td>

                <td style="width:180px;"></td>

		</tr>
		<tr>                
                <td style="height:180px;"></td>
 	        <td style="height:180px;"align="center"valign="top">這個社會，給了貧困女性什麼樣的明天？</td>
                <td style="height:180px;"></td>
                <td style="height:180px;"align="center"valign="top">傳染病大全: 從病原體到傳染途徑, 全方位剖析防疫知識</td>
                <td style="height:180px;"></td>
                <td style="height:180px;"align="center"valign="top">哆啦A夢豪華版美術畫集</td>
                <td style="height:180px;"></td>
                <td style="height:180px;"align="center"valign="top">【日本熱銷】上課/上班，專業穿搭配色教科書！"</td>
                <td style="height:180px;"></td>
		</tr>

		</table>		
        </div>	     



</div>
























</body>
</html>
