<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>英文書籍</title>
   <script type="text/javascript"></script>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="col-lg-10 col-md-offset-1" style="font-size: 150%;  background-color:#3C3C3C;">
<ul class="nav nav-pills">
        <li class="col-lg-2"style="text-align:center;" ><a href="http://localhost:5000/buy" style="color:#FF5809;">Home</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/chinese" style="color:#FF5809;">中文書</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/english" style="color:#FF5809;">英文書</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/kid" style="color:#FF5809;">兒童書</a></li>
        <li class="col-lg-2"style="text-align:center;"><a href="http://localhost:5000/sellgood" style="color:#FF5809;">暢銷書籍</a></li>
        <li class="col-lg-1"style="text-align:center;"><a href="http://localhost:5000/shopping" style="color:#FF5809;">購物車</a></li>

</ul>
</div>








<div class="col-lg-12 "style="border-bottom-style:solid;" >
        <div class="col-lg-10 col-md-offset-1">
                <font size=50px>英文書籍</font>
        </div>
</div>

<div class="col-lg-12" style="height:30px;"></div>
<div class="col-lg-12 "style=" height:200px;" >
<div class="col-lg-10 col-md-offset-1">
        <table border='0'>
		<tr>
		{%for i in range(4)%}                		
                <td style="width:180px;"></td>
		<td align="center" style=" width:180px;"><a href="{{content[i][11]}}"><img src="{{content[i][2]}}" height="180"></a></td>
                {%endfor%}
                </tr>
                <tr>
                {%for i in range(4)%}
                <td style="height:180px;"></td>
                <td style="height:180px;"align="center"valign="top"><a href="{{content[i][11]}}" style="color:black;">{{content[i][3]}}</a></td>		
		{%endfor%}
		</tr>
                </table>
        </div>



</div>

<div class="col-lg-12" style="height:30px;"></div>
<div class="col-lg-12 "style=" height:200px;" >
<div class="col-lg-10 col-md-offset-1">
        <table border='0'>
                <tr>
                {%for i in range(4,5)%}
                <td style="width:180px;"></td>
                <td align="center" style=" width:180px;"><a href="{{content[i][11]}}"><img src="{{content[i][2]}}" height="180"></a></td>
                {%endfor%}
                </tr>
                <tr>
                {%for i in range(4,5)%}
                <td style="height:180px;"></td>
                <td style="height:180px;"align="center"valign="top"><a href="{{content[i][11]}}" style="color:black;">{{content[i][3]}}</a></td>
                {%endfor%}
                </tr>
                </table>
        </div>



</div>







</body>
</html>









