<!DOCTYPE html>
<html>
<body>

<form method='post' action="/mysqltest">
  
  class<input type="text" name="class"><br><br>  
  photo<input type="text" name="photo"><br><br>
  recommend<input type="text" name="recommend"><br><br>
  bookname<input type="text" name="bookname"><br><br>
  littleword<input type="text" name="littleword"><br><br>
  author<input type="text" name="author"><br><br>
  公司<input type="text" name="publishing"><br><br>
  date<input type="text" name="date"><br><br>
  money <input type="text" name="money"><br><br>
  have <input type="text" name="have"><br><br>




  <input type="submit" value="Submit">
</form> 



</body>
</html>
