<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{{ url_for('user') }}" >
    {{ form.hidden_tag() }}
    <p>{{ form.username.label }} {{ form.username }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </p>
    <p>{{form.language.label}} {{form.language}}</>
    <p>{{ form.email.label }} {{ form.email }}</p>
    <p>{{ form.submit.label }} {{ form.submit }}</p>
</form>
</body>
</html>
